<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Ishikawa Coin</p>

    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.avatar&client_id=<%= client_id %>&state=testapp"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

  </body>
</html>
